body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21, 7, 32);
}
.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #b470d3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

#gallery{
    display: flex;
    flex-wrap: wrap;
}

#gallery img{
    width: auto;
    margin: 10px;
    cursor: pointer;
}

#cart {
    border: 5px solid #5e5e5e;
    padding: 10px;
    margin-top: 20px;
  }

button{
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #0043a7;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
    background-color: #003166;
  }